/*********************************************
                Main-page
 *********************************************/

.category-title {
  border-top: 2px solid #333;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-title>a {
  display: block;
  position: relative;
}
.category-title>a:after {
  content: "\2192";
  font-weight: 400;
  position: absolute;
  right: 0;
}

.category-title>a:hover {
  color: #249fed;
}

.news-item {
  margin-bottom: 10px;
}

.news-item p {
  padding-top: 10px;
}

.news-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.news-item.main-news h3 {
  font-size: 28px;
  line-height: 36px;
}

.news-item h3>a:hover {
  color: #0080c3;
}

.news-item .news-item-sm-img {
  float: right;
  display: block;
  max-width: 100px;
  margin-top: 15px;
  margin-left: 15px;
}

.news-item .news-item-lg-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.news-item+.news-item {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.news-list {
  margin-bottom: 15px;
}
.sequence-1,
.sequence-2,
.sequence-3,
.sequence-4 {
  min-width: 100%;
}
.sequence-3 .news-list {
  width: 25%;
}
.sequence-3 .news-list+.news-list {
  /*border-left: 1px solid #ccc;*/
}
.sequence-4 .news-list {
  width: 33.333%;
}
.column-left,
.column-right {
  width: 100%;
}
.rule-border {
  /*padding-bottom: 20000px;
  margin-bottom: -20000px*/
}
.last-news__item {
  padding-bottom: 15px;
}
.last-news__item:not(:first-child) h3{
  padding-top: 10px;
}
.last-news__item:not(:first-child) {
  border-top: 1px solid #ccc;
}
@media (min-width: 660px) {
  .sequence-1 .column-twice .column-left {
    /*border-right: 1px solid #ccc;*/
  }
  .sequence-1 .column-twice .column-left {
    width: 320px;
  }
  .sequence-1 .column-twice .column-right {
    width: 320px;
  }
}

@media (min-width: 1000px) {
  .col-md-8 {
    width: 640px;
  }
  .col-md-4 {
    width: 320px;
  }
}

@media (min-width: 1300px) {
  .col-lg-12 {
    width: 960px;
  }
  .sequence-1 .column-twice {
    width: 720px;
  }
  .sequence-1 .column-twice .column-right {
    width: 400px;
  }
  .sequence-1 .column-single {
    width: 240px;
  }
  .sequence-1 .column-twice .column-right {
    /*border-right: 1px solid #ccc;*/
  }
  .col-lg-4 {
    width: 320px;
  }
  .sequence-2 .column-left {
    width: 560px;
  }
  .sequence-2 .column-right {
    width: 400px;
  }
  .sequence-2 .column-left {
    /*border-right: 1px solid #ccc;*/
  }
}

@media (max-width: 1299px) {
  .sequence-1 .column-single {
    margin-top: 15px;
  }

  .sequence-1 .column-single>.module {
    padding-top: 15px;
    border-top: 1px solid #ccc;
  }

  .sequence-1 .column-single .news-item,
  .sequence-2 .column-right .news-item {
    float: left;
    width: 33%;
    border-top: none;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sequence-2 .column-right .news-item img {
    float: none;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .sequence-1 .column-single .news-item+.news-item,
  .sequence-2 .column-right .news-item+.news-item {
    /*border-left: 1px solid #ccc;*/
  }
  .sequence-3 .news-list {
    width: 50%;
  }
  .sequence-3 .news-list+.news-list {
    /*border-left: 1px solid #ccc;*/
  }
  .sequence-3 .news-list:nth-child(2n+1) {
    /*border-left: none;*/
  }
}
@media (max-width: 1000px) {

}
@media (max-width: 660px) {
  .sequence-1 .column-single .news-item,
  .sequence-2 .column-right .news-item,
  .sequence-4 .news-list {
    float: none;
    width: 100%;
  }
  .sequence-1 .column-single .news-item+.news-item,
  .sequence-2 .column-right .news-item+.news-item {
    border-top: 1px solid #ccc;
    /*border-left: none;*/
    padding-top: 15px;
  }
  .sequence-1 .column-single {
    width: 100%;
  }
  .sequence-3 .news-list {
    width: 100%;
  }
  .sequence-3 .news-list+.news-list {
    /*border-left: none;*/
  }
  .sequence-1 .column-right .news-item:first-child {
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }
  .news-item .news-item-sm-img {
    max-width: 200px;
    width: 200px;
    margin-top: 0;
  }
}
